*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
}
:root{
    --primarynav: #131921;
    --secodarynav:#232f3e;
}
header{
    width: 100%;
    background-color: var(--primarynav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    text-align: center;
    color: white;
}
.img-fluid{
    width:100%;
}
.header-logo{
    width: 100px;
    margin: 5px 0;
    /* background-color: black; */
}
.header-logo img{
    width: 100%;
}
header .header-loc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: left;
}
.header-search{
    display: flex;
    width: 50%;
    /* gap:10px; */
}
.flag{
    width: 30px;
}
.flag img{
    width: 100%;
    border-radius: 3px;
}

.header-search input{
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border: none;
    width: 100%;
    height:32px;
    padding: 10px;
}
.header-search-leftbtn{
    width: 30%;
    height: 32px;
    padding: 2px 5px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header-search-button{
    height: 32px;
    padding: 0 15px;
    outline: none;
    border: none;
    background-color: #febd69;
    color:black;
    border: 0;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    /* margin-left: 5px; */
}

/* ------------header ends------------------- */
/* secondary nav */

.secodarynav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
    background-color: var(--secodarynav);
}
.secodarynav-list a, .secodarynav-list p{
    color: white;
}
.secodarynav-list p{
    font-size: 18px;
}
.secodarynav-list .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:25px;
    
}
.secodarynav-list .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
} 
.secodarynav-list .right img{
    width: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
}
/* secondary nav end */
main{
    background:url('../images/main.jpg') center/cover;
    height: 90vh;
    position: relative;
    padding: 10px 30px;
}

.card-container{
    padding: 0 20px;
}
.cards-section{
    position:absolute;
    top:250px;
    display: flex;
    justify-content:space-evenly;
    align-items: baseline;
    
    gap:20px;
}
.card{
    width:300px;
    height: auto;
    background-color: azure;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
    gap:20px;
    position: relative;
}
.card-img { 
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}

.card-img-container img{
    width: 137px;
}
.signup-card .signin-btn{
   background-color: rgb(255, 216, 20);
   width: 100%;
   padding: 5px 20px;
   outline: none;
   border: none;
   border-radius: 5px;
}
/* 19/11 scroll section */

.scroll-first{
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
    padding: 20px 10px;
    margin: 10px 0;
}
.scroll-first h2{
    margin-bottom: 10px;
    padding: 0 50px;
}
.scroll-first img{
    width: 150px;
    height: 150px;
    background-color: #333;
    white-space: nowrap;
    margin: 0 60px;
}

/* scroll 1st section end */
/* scroll 2st section  */
.scroll-second{
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;
}
.scroll-second h2{
    padding: 0 50px;
}
.scroll-second .scroll-container{
    display: flex;
    padding: 0 10px;
    flex:0 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
.scroll-second .scroll-container .scroll-card-img-container{
    width: 300px;
}
.scroll-second .scroll-container img{
    width: 170px;
    height: 130px;
    margin: 0 10px;
    flex-wrap: nowrap;

}
/* scroll 2st section end */

/* footer */
footer{
    width: 100%;
    height:80vh;
    background-color:#0d1928;
}
.backtotop{
    width: 100%;
    height: 07vh;
    background-color: #37475a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 10px;
}
.footer-primary-content{
    padding: 10px 100px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.footer-primary-content a{
    color: #ffffff;
    font-size: 16px;
}
.footer-primary-content li{
    padding: 10px;
}
.text-muted{
    color:#c9c7c7;
}
footer hr{
    height: 0.1%;
    opacity: 30%;
    margin: 15px;
}

/* footer secondary */

.footer-secondary{
    color: white;
    padding: 10px 60px;
}
.footer-secondary-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.footer-secondary-first img{
    width:100px;
}
footer .box{
    padding: 10px 20px;
    border: 1px solid rgba(207, 207, 207, 0.354);
    position: relative;
    bottom: 3px;
}
.footer-country-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}
.footer-country-list a{
    color: white;
}
/* footer end */